* {
    background-color: black;
    color: white;
}

body {
    margin: 0px;
}

.status {
    display: flex;
    width: 100%;
    max-width: 1536px;
    box-sizing: border-box;
    border: 5px solid rgba(87, 87, 87, 0.9);
    border-radius: 10px;
}

.statusData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: fit-content;
    margin: 1px 5px;
}

.hpData,
.energyData,
.expData {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.hpData1,
.energyData1,
.expData1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-width: fit-content;
    font-weight: 700;
    font-size: 10px;
    min-width: 16px;
}

.energyData1 {
    margin-right: 2px;
}

.expData1 {
    font-size: 10px;
}

.hpData2,
.energyData2,
.expData2 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-weight: 300;
    font-size: 15px;
}

.hpData2 {
    margin-right: 1px;
}

.expData2 {
    justify-content: flex-start;
    font-weight: bold;
    font-size: 15px;
}

.energyData2 {
    font-size: 13px;
}

.statusBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 3px 5px;
    margin-left: 0px;
}

.hpStatusBar,
.expStatusBar,
.energyStatusBar {
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.hpStatusBar {
    width: 100%;
    height: 16px;
    background-color: rgba(180, 0, 10, 0.8);
    margin-top: 1px;
}

.energyStatusBar {
    width: 100%;
    height: 6px;
    background-color: rgba(235, 213, 91, 0.8);
    margin-bottom: 8px;
}

.expStatusBar {
    width: 0%;
    height: 3px;
    background-color: rgba(192, 192, 192, 1);
    margin-bottom: 2px;
}